{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "indent": ["error", 4],
    "no-plusplus": 0,
    "no-console": 0,
    "comma-dangle": 0,
    "max-len": ["warn", 180],
    "no-restricted-syntax": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "no-continue": 0,
    "no-mixed-operators": 0,
    "react/jsx-indent-props": [2, 4],
    "react/jsx-indent": [2, 4],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "ELECTRON": true,
    "isElectron": true
  }
}
